body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

input {
    margin: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

button.delete {
    background: rgb(26, 1, 1);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
